{% extends 'base.html' %}

{% block title %}New Fund{% endblock %}

{% block main %}

<main>
    <div class="container shadow mt-3">
    <form class="d-flex flex-column gap-3 pt-4 ps-4 pe-4 pb-sm-1 rounded " action="{% url 'fund:complete_fund' fund.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

            <img src="{{ fund.logo.url }}" class="img-thumbnail w-25 text-center">
            <input type="file" name="logo" accept="image/*">

        <label class="form-label" for="fund_name">Fund Name</label>
        <input class="form-control" id="fund_name" name="name" type="text" value="{{fund.name}}" maxlength="50">

        <label class="form-label" for="description">Fund Description</label>
        <input class="form-control" id="description" name="description" type="text" value="{{fund.description}}">

        <label class="form-label" for="monthly_stock">Fund's Monthly Stock</label>
        <input class="form-control" id="monthly_stock" name="monthly_stock" type="text" value="{{fund.monthly_stock}}">

        {% for member in fund.members.all %}
        <p>{{ member.name }}</p>
        {% endfor %}

        <label class="form-label">Start At: {{ fund.start_date }}</label>
        <input class="form-control" type="date" value="{{ fund.start_date|date:'Y-m-d' }}" name="start_date">

        <h5>s: {{fund.status.label}}</h5>
        <select name="status">

            {% for value, label in fund.Status.choices %}
                <option value="{{ value }}" {% if fund.status == value %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
        </select>

        <small>Created At: {{ fund.created_at }}</small>

        <input type="submit" class="btn btn-success" value="Create Fund">

    </form>
        <form class="d-flex flex-column gap-3 pe-4 ps-4 pb-4 rounded " action="{% url 'fund:complete_fund' fund.id %}" method="get">
            <input type="hidden" name="cancel">
            <input type="submit" value="Cancel" class="btn btn-danger">
        </form>
    </div>
</main>
{% endblock %}